@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Lobster|Montserrat:300,300i,400,700,700i|Open+Sans:300,300i,400,400i,700,700i|Raleway:300,300i,400,400i,700,700i|Roboto:300,300i,400,400i,700,700i');

/*
setting fonts
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Bree Serif', serif;
font-family: 'Montserrat', sans-serif;
*/
