.b2c_global {
  min-width: 245px;
  min-height: 340px;
  height: 370px;
  width: 245px;
  text-align: center;
  display: inline-block;
}

.b2c_global_inner {
  background: #009bd8;
  color: #fff;
  text-align: center;
  display: inline-block;
  width: 100%;
  height: 100%;
}

.b2c_img img {
  margin-top: -18px;
  margin-left: -18px;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

.b2c_title {
  font-size: 22px;
  font-weight: bold;
  line-height: 29px;
  font-family: 'Open Sans';
  margin: 2px auto auto;
}

.b2c_text {
  font-weight: 300;
  line-height: 20px;
  font-family: 'Open Sans';
  font-size: 12.5px;
  margin: 0 auto auto auto;
  letter-spacing: 0.8px;
}

.b2c_button {
  box-sizing: border-box !important;
  border-radius: 50px;
  width: 220px;
  height: 85px;
  margin: 0 auto;
  display: block;
}

.b2c_button a {
  background: #fff;
  border-radius: 50px;
  width: 100%;
  height: 100%;
  letter-spacing: 0px;
  line-height: normal;
  font-family: 'Open Sans';
  color: #0083d1;
  text-decoration: none;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.b2c_button a:hover {
  color: #0083d1;
  text-decoration: none;
}
