.b2c_global {
  min-width: 700px;
  width: 700px;
  min-height: 502px;
  height: 502px;
}

.b2c_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
}

.b2c_left_blok {
  width: 50%;
  height: 100%;
  box-sizing: border-box !important;
  background: white;
  display: flex;
  position: absolute;
  transform: translate(-175px, 0px);
}

.b2c_right_blok {
  width: 50%;
  height: 100%;
  box-sizing: border-box !important;
  background: #ee862f;
  color: #fff;
  position: absolute;
  transform: translate(175px, 0px);
}

.b2c_right_blok_inner {
  height: 100%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  box-sizing: border-box !important;
}

.b2c_left_blok .b2c_a_tag {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}

.b2c_left_blok img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  border: 2px solid #ee8f2f;
  padding: 20px;
  box-sizing: border-box !important;
}

.b2c_title {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  position: absolute;
  line-height: 42px;
  font-weight: bold;
  width: 250px;
  transform: translate(155px, -180px);
}

.b2c_subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 38px;
  position: absolute;
  width: 275px;
  font-weight: 300;
  transform: translate(168px, -122px);
}

.b2c_line {
  min-height: 37px;
  min-width: 105px;
  height: 37px;
  width: 40px;
  transform: translate(53px, -82px);
  position: absolute;
  display: inline-block;
  box-sizing: border-box !important;
}

.b2c_line_inner {
  background: #eee;
  width: 100%;
  height: 100%;
}

.b2c_text {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  position: absolute;
  line-height: 25px;
  margin-bottom: 10px;
  font-weight: 300;
  width: 300px;
  transform: translate(182px, 6px);
}

.b2c_button {
  position: absolute;
  width: 330px;
  height: 96px;
  box-sizing: border-box !important;
  transform: translate(171px, 131px);
}

.b2c_button a {
  font-family: 'Roboto', sans-serif;
  background: #fff;
  width: 100%;
  height: 100%;
  font-size: 18px;
  color: #ee8f2f;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.b2c_button a:hover {
  color: #ee8f2f;
  text-decoration: none;
}

.b2c_close {
  position: absolute;
  height: 30px;
  line-height: 30px;
  transform: translate(662px, -505px);
  font-size: 36px;
  font-weight: 300;
  color: black;
  cursor: pointer;
}

.b2c_close_new {
  position: absolute;
  height: 30px;
  width: 30px;
  transform: translate(647px, -512px);
}

.b2c_close_inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: 300;
  color: #fff;
  cursor: pointer;
}
