.b2c_global {
  min-width: 700px;
  min-height: 502px;
  width: 700px;
  height: 502px;
  background: #fff;
}

.b2c_bgFirstSec {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translate(0px, -18px);
  /*box-sizing: border-box !important;*/
}

.b2c_bgFirstSec .b2c_img_tag {
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
}

.b2c_bgFirstSec2 {
  position: absolute;
  width: 287px;
  height: 100%;
  background-image: url(https://www.incredo.co/hubfs/b2c/popupImgs/bg2.jpg);
  transform: translate(0px, -18px);
  background-repeat: no-repeat;
}

.b2c_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  position: relative;
}

.b2c_popupSubTitleSec {
  transform: translate(0px, 104px);
  width: 230px;
  font-family: Arial;
  font-size: 21.9px;
  line-height: 1.29;
  position: absolute;
  font-weight: 600;
  text-align: center;
}

.b2c_popupSubTitle {
  color: #3e5c7d;
}

.b2c_popupSubTitle2 {
  color: #ff7d7d;
}

.b2c_popupFirstImgSec {
  transform: translate(-268px, 174px);
  position: absolute;
  width: 172px;
  height: 100px;
}

.b2c_popupFirstImgSec2 {
  transform: translate(-10px, 174px);
  position: absolute;
  width: 172px;
  height: 100px;
}

.b2c_popupFirstImgSec3 {
  transform: translate(270px, 174px);
  position: absolute;
  width: 172px;
  height: 100px;
}

.b2c_popupFirstImg {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}

.b2c_popupLastImgSec {
  transform: translate(168px, 125px);
  position: absolute;
  width: 303px;
  height: 186px;
}

.b2c_popupLastImg {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  background-color: #c69e47;
  border: solid 1px #ce9d43;
}

.b2c_popupFirstImgTitleSec {
  transform: translate(0px, 185px);
  position: absolute;
  width: 230px;
  font-family: Arial;
  font-size: 21px;
  line-height: 1.29;
  text-align: center;
  color: #3e5c7d;
  letter-spacing: -0.5px;
}

.b2c_FirstbuttonSec {
  position: absolute;
  transform: translate(0px, 350px);
  min-width: 222px;
  width: 222px;
  box-sizing: border-box !important;
  height: 78px;
}

.b2c_Firstbutton:hover {
  color: #3f5c7b;
}

.b2c_Firstbutton {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: #49a3cd;
  color: #ffffff;
  font-family: Arial;
  font-size: 16.7px;
  font-weight: bold;
  line-height: 1.29;
  letter-spacing: 0.3px;
}

.b2c_slack {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 24%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 4px 4px 0;
  background: #C22D30;
}

.b2c_lineSec {
  width: 1px;
  height: 282px;
  position: absolute;
  transform: translate(-132px, 150px);
}

.b2c_lineSec2 {
  width: 1px;
  height: 282px;
  position: absolute;
  transform: translate(132px, 150px);
}

.b2c_lineSecPar {
  background: grey;
  width: 100%;
  height: 100%;
}

.b2c_LastbuttonSec {
  transform: translate(0px, 407px);
  box-sizing: border-box !important;
  height: 50px;
  position: absolute;
  min-width: 265px;
  width: 265px;
  font-family: Arial;
  font-size: 11px;
  line-height: 1.25;
  text-align: center;
  color: #7b8e97;
}

.b2c_Lastbutton {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  letter-spacing: 0;
  color: #7b8e97;
  font-weight: 500;
  text-decoration: underline;
}

.b2c_popupClose {
  transform: translate(327px, 6px);
  position: absolute;
  cursor: pointer;
  width: 27px;
  height: 27px;
  border: 2px solid #fff;
  text-align: center;
  line-height: 28px;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  font-weight: 400;
}

.b2c_close_new {
  transform: translate(325px, -12px);
  position: absolute;
  width: 27px;
  height: 27px;
}

.b2c_close_inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  font-weight: 400;
}
