@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
.b2c_global {
  min-width: 700px;
  min-height: 480px;
  width: 700px;
  height: 480px;
  background: #fff;
}

.b2c_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  position: relative;
}

.b2c_bgFirstSec {
  position: absolute;
  height: 100%;
  width: 166px;
  min-height: 100%;
  background: #CA9E50;
  transform: translate(-267px, 0px);
}

.b2c_popupTitleSec {
  transform: translate(160px, 45px);
  position: absolute;
  width: 262px;
  font-family: Poppins;
  font-size: 23px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: -1.2px;
  text-align: left;
  color: #000000;
}

.b2c_popupSubTitleSec {
  transform: translate(0px, 60px);
  position: absolute;
  width: 448px;
  font-family: Poppins;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.07;
  text-align: center;
}

.b2c_popupSubTitle {
  color: #000000;
}

.b2c_popupSubTitleSec2 {
  transform: translate(220px, 60px);
  position: absolute;
}

.b2c_popupSubTitle2 {
  color: #c3830f;
}

.b2c_popupFirstImgSec {
  transform: translate(-151px, 15px);
  position: absolute;
  width: 286px;
  height: 410px;
}

.b2c_popupFirstImg {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}

.b2c_popupLastImgSec {
  transform: translate(168px, 125px);
  position: absolute;
  width: 303px;
  height: 186px;
}

.b2c_popupLastImg {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  background-color: #c69e47;
  border: solid 1px #ce9d43;
}

.b2c_popupFirstImgTitleSec {
  transform: translate(170px, 200px);
  position: absolute;
  width: 280px;
  min-width: 280px;
  font-family: Poppins;
  font-size: 16px;
  text-align: left;
  color: #000000;
  line-height: 1.3;
}

.b2c_popupLastImgTitleSec {
  transform: translate(168px, 334px);
  position: absolute;
  width: 276px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.4px;
  text-align: center;
  color: #000000;
}

.b2c_popupFirstImgSubTitleSec {
  transform: translate(110px, 296px);
  position: absolute;
  width: 163px;
  font-family: Poppins;
  font-size: 28px;
  letter-spacing: -0.7px;
  text-align: left;
  color: #ca8a00;
  font-weight: 600;
}

.b2c_popupFirstImgSubTitle2Sec {
  transform: translate(230px, 301px);
  position: absolute;
  width: 91px;
  font-family: Poppins;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: -0.4px;
  text-align: left;
  color: #000000;
  text-decoration: line-through;
}

.b2c_popupLastImgSubTitleSec {
  transform: translate(130px, 410px);
  position: absolute;
  width: 130px;
  font-family: Poppins;
  font-size: 22px;
  letter-spacing: -0.6px;
  text-align: left;
  color: #c2810b;
  font-weight: 600;
}

.b2c_popupLastImgSubTitle2Sec {
  transform: translate(235px, 412px);
  position: absolute;
  width: 80px;
  font-family: Poppins;
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: -0.4px;
  text-align: left;
  color: #000000;
  text-decoration: line-through;
}

.b2c_FirstbuttonSec {
  width: 173px;
  box-sizing: border-box !important;
  height: 78px;
  position: absolute;
  transform: translate(-193px, 450px);
  min-width: 173px;
}

.b2c_Firstbutton {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: #000;
  font-family: Poppins;
  font-size: 14px;
  letter-spacing: 1.4px;
  text-align: left;
  color: #ffffff;
  font-weight: 500;
}

.b2c_Firstbutton:hover {
  color: #ffffff;
}

.b2c_LastbuttonSec {
  width: 206px;
  box-sizing: border-box !important;
  height: 81px;
  position: absolute;
  transform: translate(115px, 365px);
  min-width: 170px;
}

.b2c_Lastbutton {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: #000;
  font-family: Poppins;
  font-size: 14px;
  letter-spacing: 1.4px;
  text-align: center;
  color: #ffffff;
  font-weight: 500;
}

.b2c_Lastbutton:hover {
  color: #ffffff;
}

.b2c_imgBorder1 {
  width: 50%;
  height: 100%;
  position: absolute;
  border: 2px solid #fff;
  border-right: none;
  top: 0;
  display: inline-block;
  left: 0;
}

.b2c_imgBorder2 {
  width: 50%;
  height: 100%;
  position: absolute;
  border: 2px solid #CA9E50;
  border-left: none;
  top: 0;
  right: 0;
}

.b2c_imgSecA {
  position: absolute;
  width: 90%;
  height: 48%;
  left: 5%;
  margin: auto 0;
  top: 27%;
}

.b2c_popupClose {
  position: absolute;
  cursor: pointer;
  transform: translate(325px, -2px);
  text-align: center;
  line-height: 44px;
  font-size: 35px;
  color: #000;
  font-weight: 400;
}

.b2c_close_new {
  position: absolute;
  transform: translate(325px, -2px);
  width: 40px;
  height: 40px;
}
.b2c_close_inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 35px;
  color: #000;
  font-weight: 400;
}
