.b2c_global {
  min-width: 700px;
  width: 700px;
  min-height: 502px;
  height: 502px;
}
.b2c_global_inner {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  height: 100%;
  background-color: #ffffff;
}
.b2c_left_blok {
  height: 100%;
  max-width: 38%;
  width: 100%;
  box-sizing: border-box !important;
}
.b2c_left_blok img {
  margin-top: -18px;
  margin-left: -18px;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}
.b2c_right_blok {
  min-width: 50%;
  width: 62%;
  background: white;
  height: 100%;
  box-sizing: border-box !important;
  padding: 23px 18px 52px 32px;
}
.b2c_title {
  font-size: 70px;
  color: #9a8789;
  font-weight: bold;
  width: 390px;
  font-family: 'Poppins', sans-serif;
  position: absolute;
  transform: translate(270px, -142px);
  text-transform: uppercase;
}
.b2c_text {
  font-size: 13px;
  position: absolute;
  width: 360px;
  color: #393a3a;
  transform: translate(290px, -50px);
  font-family: 'Poppins', sans-serif;
  text-align: left;
  z-index: 1604;
}
.b2c_text_small{
  font-size: 9px;
  position: absolute;
  width: 235px;
  transform: translate(350px, 180px);
  font-family: 'Poppins', sans-serif;
  text-align: center;
  z-index: 1604;
  line-height: 30px;
}
.sub_form{
  position: absolute;
  transform: translate(350px, 45px);
  height: 50px;
  width: 233px;
  display: block;
  z-index: 1604;
}
.sub_form input{
  border: 1px solid #393a3a;
  font-size: 14px;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  background: rgb(255, 255, 255);
  padding-left: 10px;
  padding-right: 33px;
  box-sizing: border-box;
}
.b2c_button {
  box-sizing: border-box !important;
  width: 269px;
  transform: translate(350px, 110px);
  position: absolute;
  height: 92px;
}
.b2c_button a {
  background: #393a3a;
  width: 100%;
  height: 100%;
  font-size: 13px;
  color: #eee5e1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  transform: translate(0px, 0px);
}
.b2c_close {
  position: absolute;
  transform: translate(615px, -215px);
  font-family: 'Poppins', sans-serif;
  font-size: 15.5px;
  font-weight: 600;
  color: #393a3a;
  height: 40px;
  cursor: pointer;
  text-decoration: underline;
  text-transform: lowercase;
  letter-spacing: 1px;
  line-height: 22.5px;
}
.b2c_formInput:focus{
  border-bottom: 1px solid !important;
}
.editor_subscribe_form{
  width: 32px;
  height: 32px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.thank_you_part{
  position: relative;
  cursor: pointer !important;
  transform: translate(-102px, -1px)
}
.thank_you_img {
  position: relative;
  z-index: 20;
  cursor: pointer !important;
}
.thank_you_text_template {
  width: 150px;
  display: none;
  background-color: #3CAE73;
  color: #fff;
  padding: 7px 15px;
  border-radius: 25px;
  position: absolute;
  top: 0px;
  left: 101px;
  text-align: right;
}
.thank_you_part_back {
  position: relative;
  cursor: pointer !important;
  transform: translate(-350px, -50px);
}
.thank_you {
  transform: translate(350px, 57px);
  position: absolute;
  width: 233px;
  height: 40px;
  cursor: pointer;
  display: none;
  z-index: 1602;
}
button#b2c_submitContact {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px 2px;
    font-size: 16px;
    background: rgb(57, 58, 58);
    color: rgb(238, 229, 225);
    padding: 0px;
}
#b2c_submitContactInput::-webkit-input-placeholder {
  color: rgba(1, 1, 1, 0.48);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
#b2c_submitContactInput::-moz-placeholder {
  color: rgba(1, 1, 1, 0.48);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
#b2c_submitContactInput:-ms-input-placeholder {
  color: rgba(1, 1, 1, 0.48);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
#b2c_submitContactInput:-moz-placeholder {
  color: rgba(1, 1, 1, 0.48);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
