.b2cHaykOverlay {
  overflow-y: scroll;
}
.b2c_global {
  text-align: center;
  width: 704px;
  height: 680px;
  box-shadow: none !important;
  margin: 150px auto 0;
}

.b2c_container {
  width: 100%;
  height: 430px;
  background-image: url("https://www.incredo.co/hubfs/b2c/Popup%20Images%20(1-10)/Group3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12);
}

.b2c_title {
  font-size: 50px;
  font-weight: 100;
  font-family: 'Open Sans';
  color: #538dae;
  line-height: 60px;
  overflow: hidden;
  width: 500px;
  margin: 0 auto;
  transform: translate(0, 17px);
}

.b2c_text {
  font-size: 25px;
  font-weight: 900;
  font-family: 'Open Sans';
  color: #626263;
  width: 400px;
  margin: 0 auto;
  max-height: 170px;
  overflow: hidden;
  transform: translate(0, 0);
}

.b2c_button {
  height: 90px;
  width: 300px;
  box-sizing: border-box !important;
  margin: 0 auto;
  transform: translate(0, 20px);
  display: block;
}

.b2c_button a {
  width: 100%;
  height: 100%;
  background: #1ab394;
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  font-family: 'Open Sans';
  margin: 0 auto;
  line-height: 26px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.b2c_button a:hover {
  color: #fff;
  text-decoration: none;
}

.b2c_img {
  box-sizing: border-box !important;
  position: absolute;
  margin: 0 auto;
  transform: translate(178px, -18px);
}

.b2c_img img {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%;
}

.b2c_close {
  background: #1ab394;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  color: #fff;
  font-size: 35px;
  font-weight: 300;
  transform: translate(658px, 5px);
  line-height: 40px;
  text-align: center;
}

.b2c_close_new {
  position: absolute;
  transform: translate(633px, -6px);
  width: 40px;
  height: 40px;
}

.b2c_close_inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #1ab394;
  border-radius: 50%;
  font-size: 35px;
  color: #fff;
}
