@font-face {
  font-family: ArialArmST;
  src: url(https://cdn2.hubspot.net/hubfs/463211/b2c/popupImgs/ArialArmST.ttf);
}

@font-face {
  font-family: Silom;
  src: url(https://cdn2.hubspot.net/hubfs/463211/b2c/popupImgs/Silom.ttf);
}

.b2c_global {
  min-width: 700px;
  width: 700px;
  min-height: 502px;
  height: 502px;
  background: url(https://cdn2.hubspot.net/hubfs/463211/b2c/popupImgs/back.png) left top no-repeat;
}

.b2c_title {
  font-size: 35px;
  color: #343433;
  font-family: "Silom", sans-serif;
  position: absolute;
  transform: translate(286px, 78px);
}

.b2c_subtitle {
  font-size: 24px;
  color: #343433;
  font-family: "ArialArmST", sans-serif;
  position: absolute;
  width: 300px;
  text-align: right;
  font-weight: 600;
  transform: translate(357.125px, 142px);
}

.b2c_price {
  font-size: 32px;
  color: #f9d832;
  font-family: "Silom", sans-serif;
  position: absolute;
  transform: translate(505px, 244px);
}

.b2c_img {
  width: 235px;
  transform: translate(28px, 82px);
  position: absolute;
}

.b2c_img img {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%;
}

.b2c_button {
  font-size: 19px;
  font-family: "ArialArmST", sans-serif;
  position: absolute;
  width: 200px;
  height: 52px;
  transform: translate(466px, 360px);
}

.b2c_button a {
  width: 100%;
  height: 100%;
  color: #fff;
  background: #343433;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 30px;
}

.b2c_button a:hover {
  color: #fff;
}

.b2c_close {
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  color: #fff;
  cursor: pointer;
  font-size: 35px;
  font-weight: 200;
  background: #343433;
  border-radius: 50%;
  position: absolute;
  transform: translate(647px, 8px);
}

.b2c_close_new {
  width: 35px;
  height: 35px;
  position: absolute;
  transform: translate(637px, -11px);
}

.b2c_close_inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #fff;
  cursor: pointer;
  font-size: 25px;
  font-weight: 200;
  background: #343433;
  border-radius: 50%;
}
