@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
.b2c_global {
  min-width: 810px;
  min-height: 488px;
  width: 810px;
  height: 488px;
  background: #fff;
}

.b2c_bgFirstSec {
  position: absolute;
  width: 100%;
  height: 133px;
  min-height: 133px;
  background: #e5e5e5;
}

.b2c_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  position: relative;
}

.b2c_popupTitleSec {
  transform: translate(0px, 18px);
  position: absolute;
  width: 193px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.88;
  letter-spacing: -0.4px;
  text-align: center;
  color: #000000;
}

.b2c_popupSubTitleSec {
  transform: translate(0px, 60px);
  position: absolute;
  width: 448px;
  font-family: Poppins;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.07;
  text-align: center;
}

.b2c_popupSubTitle {
  color: #000000;
}

.b2c_popupSubTitle2 {
  color: #fc413d;
}

.b2c_popupFirstImgSec {
  transform: translate(-268px, 174px);
  position: absolute;
  width: 172px;
  height: 100px;
}

.b2c_popupFirstImgSec2 {
  transform: translate(-10px, 174px);
  position: absolute;
  width: 172px;
  height: 100px;
}

.b2c_popupFirstImgSec3 {
  transform: translate(270px, 174px);
  position: absolute;
  width: 172px;
  height: 100px;
}

.b2c_popupFirstImg {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
}

.b2c_popupLastImgSec {
  transform: translate(168px, 125px);
  position: absolute;
  width: 303px;
  height: 186px;
}

.b2c_popupLastImg {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  background-color: #c69e47;
  border: solid 1px #ce9d43;
}

.b2c_popupFirstImgTitleSec {
  transform: translate(-266px, 292px);
  position: absolute;
  width: 220px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.4px;
  text-align: left;
  color: #000000;
}
.b2c_popupFirstImgTitleSec2 {
  transform: translate(5px, 292px);
  position: absolute;
  width: 220px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.4px;
  text-align: left;
  color: #000000;
}
.b2c_popupFirstImgTitleSec3 {
  transform: translate(275px, 292px);
  position: absolute;
  width: 220px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.4px;
  text-align: left;
  color: #000000;
}
.b2c_popupLastImgTitleSec {
  transform: translate(168px, 334px);
  position: absolute;
  width: 276px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.4px;
  text-align: center;
  color: #000000;
}

.b2c_popupFirstImgSubTitleSec {
  width: 88px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.8px;
  text-align: left;
  color: #fc413d;
  transform: translate(-332px, 415px);
  position: absolute;
}
.b2c_popupFirstImgSubTitleSec2 {
  width: 88px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.8px;
  text-align: left;
  color: #fc413d;
  transform: translate(-70px, 415px);
  position: absolute;
}
.b2c_popupFirstImgSubTitleSec3 {
  width: 88px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -0.8px;
  text-align: left;
  color: #fc413d;
  transform: translate(195px, 415px);
  position: absolute;
}
.b2c_popupFirstImgSubTitle2Sec {
  transform: translate(-314px, 392px);
  position: absolute;
  width: 80px;
  font-family: Poppins;
  font-size: 13px;
  line-height: 2.6;
  letter-spacing: -0.3px;
  text-align: left;
  color: #000000;
  text-decoration: line-through;
}
.b2c_popupFirstImgSubTitle2Sec2 {
  transform: translate(-60px, 392px);
  position: absolute;
  width: 80px;
  font-family: Poppins;
  font-size: 13px;
  line-height: 2.6;
  letter-spacing: -0.3px;
  text-align: left;
  color: #000000;
  text-decoration: line-through;
}
.b2c_popupFirstImgSubTitle2Sec3 {
  transform: translate(205px, 392px);
  position: absolute;
  width: 80px;
  font-family: Poppins;
  font-size: 13px;
  line-height: 2.6;
  letter-spacing: -0.3px;
  text-align: left;
  color: #000000;
  text-decoration: line-through;
}
.b2c_popupLastImgSubTitleSec {
  transform: translate(130px, 410px);
  position: absolute;
  width: 130px;
  font-family: Poppins;
  font-size: 22px;
  letter-spacing: -0.6px;
  text-align: left;
  color: #c2810b;
  font-weight: 600;
}

.b2c_popupLastImgSubTitle2Sec {
  transform: translate(235px, 412px);
  position: absolute;
  width: 80px;
  font-family: Poppins;
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: -0.4px;
  text-align: left;
  color: #000000;
  text-decoration: line-through;
}

.b2c_FirstbuttonSec {
  position: absolute;
  transform: translate(-209px, 402px);
  min-width: 112px;
  width: 112px;
  height: 34px;
}
.b2c_FirstbuttonSec2 {
  position: absolute;
  transform: translate(45px, 402px);
  min-width: 112px;
  width: 112px;
  height: 34px;
}
.b2c_FirstbuttonSec3 {
  position: absolute;
  transform: translate(310px, 402px);
  min-width: 112px;
  width: 112px;
  height: 34px;
}
.b2c_Firstbutton {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: Poppins;
  font-size: 14px;
  letter-spacing: 1.4px;
  text-align: center;
  color: #ffffff;
  font-weight: 500;
  border-radius: 4px;
  background-color: #fc413d;
  padding-right: 24%;
  box-sizing: border-box;
}

.b2c_slack {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 24%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 4px 4px 0;
  background: #C22D30;
}

.b2c_lineSec {
  width: 1px;
  height: 282px;
  position: absolute;
  transform: translate(-132px, 150px);
}
.b2c_lineSec2 {
  width: 1px;
  height: 282px;
  position: absolute;
  transform: translate(132px, 150px);
}
.b2c_lineSecPar {
  background: grey;
  width: 100%;
  height: 100%;
}

.b2c_Firstbutton:hover {
  color: #ffffff;
}

.b2c_LastbuttonSec {
  width: 173px;
  box-sizing: border-box !important;
  height: 78px;
  position: absolute;
  transform: translate(178px, 450px);
  min-width: 173px;
}

.b2c_Lastbutton {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: #000;
  font-family: Poppins;
  font-size: 14px;
  letter-spacing: 1.4px;
  text-align: left;
  color: #ffffff;
  font-weight: 500;
}

.b2c_Lastbutton:hover {
  color: #ffffff;
}

.b2c_popupClose {
  position: absolute;
  cursor: pointer;
  transform: translate(380px, -2px);
  text-align: center;
  line-height: 44px;
  font-size: 35px;
  color: #000;
  font-weight: 400;
}

.b2c_close_new {
  position: absolute;
  transform: translate(380px, -2px);
  width: 40px;
  height: 40px;
}

.b2c_close_inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 35px;
  color: #000;
  font-weight: 400;
}
