@font-face {
  font-family: ArialArmST;
  src: url(https://cdn2.hubspot.net/hubfs/463211/b2c/popupImgs/ArialArmST.ttf);
}

@font-face {
  font-family: Silom;
  src: url(https://cdn2.hubspot.net/hubfs/463211/b2c/popupImgs/Silom.ttf);
}

.b2c_global img {
	width: 100%;
	height: 100%;
	max-width:100%;
	max-height: 100%;
}


.b2c_global {
 min-width: 700px;
  min-height: 502px;
  width: 700px;
  height: 502px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  background: #fff;
}

.b2c_title {
  font-size: 28px;
  color: #333333;
  font-family: ArialArmST;
  position: absolute;
  transform: translate(0px, 117px);
}

.b2c_subtitle {
  font-size: 22px;
  color: #343433;
  font-family: "ArialArmST", sans-serif;
  position: absolute;
  width: 400px;
  text-align: center;
  font-weight: 600;
  transform: translate(0px, 160px);
}

@keyframes walk-cycle {
  0% {background-position: 0 0; }
  100% {background-position: -1080px 0; }
}
@-webkit-keyframes walk-cycle {
  0% {background-position: 0 0; }
  100% {background-position: -1080px 0; }
}

.b2c_img {
  transform: translate(0px, 25px);
  width: 60px;
  height: 60px;
  margin: 0 auto;
  animation: walk-cycle 0.5s steps(18) infinite;
  -webkit-animation: walk-cycle 0.5s steps(18) infinite;
  background: url(https://cdn2.hubspot.net/hubfs/463211/b2c/popupImgs/eli-load.png) 0 0 no-repeat;
}

.b2c_img img {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%;
}



.b2c_line {
  min-height: 37px;
  min-width: 305px;
  height: 38px;
  width: 40px;
  transform: translate(0px, 93px);
  position: absolute;
  display: inline-block;
  box-sizing: border-box !important;
}

.b2c_line_inner {
  background: #8fc6df;
  width: 100%;
  height: 100%;
}

/* Li Item1*/
.b2c_imgLi1{
	position: absolute;
  transform: translate(-273px, 233px);
  width: 20px;
  height: 20px;
}

.b2c_liItem1{
	position: absolute;
  transform: translate(-150px, 233px);
}
/* Li Item2*/
.b2c_imgLi2{
	position: absolute;
  transform: translate(-273px, 263px);
  width: 20px;
  height: 20px;
}

.b2c_liItem2{
	position: absolute;
    transform: translate(-174px, 263px);
}
/* Li Item3*/
.b2c_imgLi3{
	position: absolute;
    transform: translate(-273px, 297px);
    width: 20px;
    height: 20px;
}

.b2c_liItem3{
	position: absolute;
    transform: translate(-107px, 297px);
}


/* Li Item4*/
.b2c_imgLi4{
	position: absolute;
    transform: translate(-273px, 328px);
    width: 20px;
    height: 20px;
}

.b2c_liItem4{
	position: absolute;
    transform: translate(-136px, 328px);
}


/* Li Item5*/
.b2c_imgLi5{
	position: absolute;
    transform: translate(-273px, 360px);
    width: 20px;
    height: 20px;
}

.b2c_liItem5{
	position: absolute;
    transform: translate(-135px, 360px);
}


.b2c_liItem{
	font-size: 17px;
    color: #333333;
    text-align: left;
    font-family: ArialArmST;
}

.b2c_button {
  width: 210px;
  height: 52px;
  font-size: 18px;
  position: absolute;
  transform: translate(177px, 333px);
}

.b2c_button a {
  width: 100%;
  height: 100%;
  background: #46a2cb;
  box-shadow: 0 2px 10px 2px rgba(0,0,0,.1);
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.b2c_button a:hover {
  color: #fff;
}


.b2c_line2{
	min-height: 37px;
    min-width: 305px;
    height: 38px;
    width: 570px;
    transform: translate(0px, 420px);
    position: absolute;
    display: inline-block;
    box-sizing: border-box !important;
}
.b2c_line_inner2 {
  background: #f1f1f1;
  width: 100%;
  height: 100%;
}

.b2c_bottomText{
	position: absolute;
    transform: translate(0px, 450px);
    font-size: 12px;
    color: #333333;
    text-align: center;
    font-family: ArialArmST;
}

.b2c_close {
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  color: #46a2cb;
  cursor: pointer;
  font-size: 15px;
  font-weight: 800;
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
  transform: translate(347px, -11px);
  box-shadow: 0 0 5px #333333;
}

.b2c_close_new {
  width: 25px;
  height: 25px;
  position: absolute;
  transform: translate(349px, -29px);
}
.b2c_close_inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 5px #333333;
  color: #46a2cb;
  font-size: 15px;
  font-weight: 800;
  background: #fff;
  border-radius: 50%;
}
