@import url('https://fonts.googleapis.com/css?family=Bree+Serif%7CLobster%7CMontserrat%7COpen+Sans%7CRaleway%7CRoboto');

.b2CpopupOverlay {
  display: none
}

.b2c_realPopup{
  position: fixed;
  width: 100%!important;
  height: 100%!important;
  background: rgba(0, 0, 0, 0.1);
  z-index: 9999999;

}


.b2c_popup_bg{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto!important;
    width: 100%;
    max-width: 700px;
    max-height: 500px;
    background: #fff;
}

.b2c_mainTopSection{
	margin: auto!important;
    max-width: 80%;
    text-align: center;
}

.b2c_closeButton {
	position: absolute;
    top: 15px;
    right: 15px;
    cursor:pointer;
}

.b2c_mainTwoSections:after {
    content: '';
    display: block;
    clear: both;
}

.b2c_mainLeftSection{
	float: left;
    margin: auto!important;
    width: 50%;
    text-align: center;
}
.b2c_mainRightSection{
	float: right;
    margin: auto!important;
    width: 50%;
    text-align: center;
}

.b2c_pouup_footer{
  position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: #b6b7b7;
    padding: 0.7% 0px!important;
    display: flex;
    justify-content: center;
}

.b2c_footerLink {
  position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    z-index:999;
    cursor: pointer;
}

.b2c_footerText{
  font-size: 12px!important;
    color: #fff;
     font-family: 'Roboto'!important;
    padding: 5.5px 5px 0px 0px!important;

}

.wysiwyg-toolbar.wysiwyg-toolbar-top {
    display: none;
}

@media(max-width: 768px){
	.b2c_realPopup{
		display: none!important;
	}
}