@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

.b2c_global {
  min-width: 763px;
  min-height: 530px;
  width: 763px;
  height: 530px;
  background: #fff;
}

.b2c_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    position: relative;
}
.b2c_popupTitleSec{
  transform: translate(0px, 18px);
  position: absolute;
  width: 193px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.88;
  letter-spacing: -0.4px;
  text-align: center;
  color: #000000;
}
.b2c_popupSubTitleSec{
  transform: translate(0px, 60px);
  position: absolute;
  width: 448px;
  font-family: Poppins;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.07;
  text-align: center;
}
.b2c_popupSubTitle{
  color: #000000;
}
.b2c_popupSubTitleSec2{
  transform: translate(220px, 60px);
  position: absolute;
}
.b2c_popupSubTitle2{
  color: #c3830f;
}
.b2c_popupFirstImgSec{
  transform: translate(-193px, 125px);
  position: absolute;
  width: 303px;
  height: 186px;
}
.b2c_popupFirstImg{
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  background-color: #c69e47;
  border: solid 1px #ce9d43;
}
.b2c_popupLastImgSec{
  transform: translate(168px, 125px);
  position: absolute;
  width: 303px;
  height: 186px;
}
.b2c_popupLastImg{
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  background-color: #c69e47;
  border: solid 1px #ce9d43;
}
.b2c_popupFirstImgTitleSec{
  transform: translate(-193px, 334px);
  position: absolute;
  width: 276px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.4px;
  text-align: center;
  color: #000000;
}
.b2c_popupLastImgTitleSec{
  transform: translate(168px, 334px);
  position: absolute;
  width: 276px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.4px;
  text-align: center;
  color: #000000;
}
.b2c_popupFirstImgSubTitleSec{
  transform: translate(-230px, 410px);
  position: absolute;
  width: 128px;
  font-family: Poppins;
  font-size: 22px;
  letter-spacing: -0.6px;
  text-align: left;
  color: #c2810b;
  font-weight: 600;
}
.b2c_popupFirstImgSubTitle2Sec{
  transform: translate(-127px, 412px);
  position: absolute;
  width: 80px;
  font-family: Poppins;
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: -0.4px;
  text-align: left;
  color: #000000;
  text-decoration: line-through;
}
.b2c_popupLastImgSubTitleSec{
  transform: translate(130px, 410px);
  position: absolute;
  width: 130px;
  font-family: Poppins;
  font-size: 22px;
  letter-spacing: -0.6px;
  text-align: left;
  color: #c2810b;
  font-weight: 600;
}
.b2c_popupLastImgSubTitle2Sec{
  transform: translate(235px, 412px);
  position: absolute;
  width: 80px;
  font-family: Poppins;
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: -0.4px;
  text-align: left;
  color: #000000;
  text-decoration: line-through;
}
.b2c_FirstbuttonSec{
  width: 173px;
  box-sizing: border-box !important;
  height: 78px;
  position: absolute;
  transform: translate(-193px, 450px);
  min-width: 173px;
}
.b2c_Firstbutton{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: #000;
  font-family: Poppins;
  font-size: 14px;
  letter-spacing: 1.4px;
  text-align: center;
  color: #ffffff;
  font-weight: 500;
}
.b2c_Firstbutton:hover {
  color: #ffffff;
}
.b2c_LastbuttonSec{
  width: 173px;
  box-sizing: border-box !important;
  height: 78px;
  position: absolute;
  transform: translate(178px, 450px);
  min-width: 173px;
}
.b2c_Lastbutton{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: #000;
  font-family: Poppins;
  font-size: 14px;
  letter-spacing: 1.4px;
  text-align: center;
  color: #ffffff;
  font-weight: 500;
}
.b2c_Lastbutton:hover {
  color: #ffffff;
}

.b2c_popupClose{
  position: absolute;
  cursor: pointer;
  transform: translate(380px, -20px);
  width: 43px;
  height: 43px;
  border: 2px solid #fff;
  text-align: center;
  line-height: 46px;
  border-radius: 50%;
  font-size: 35px;
  color: #fff;
  background: #c2810b;
  font-weight: 400;
}

.b2c_close_new {
  position: absolute;
  transform: translate(371px, -35px);
  width: 43px;
  height: 43px;
}

.b2c_close_inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 50%;
  font-size: 35px;
  color: #fff;
  background: #c2810b;
  font-weight: 400;
}
