.b2c_global {
  min-width: 700px;
  width: 700px;
  min-height: 502px;
  height: 502px;
}

.b2c_global_inner {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
}

.b2c_left_blok {
  height: 100%;
  max-width: 50%;
  width: 100%;
  box-sizing: border-box !important;
}

.b2c_left_blok img {
  margin-top: -18px;
  margin-left: -18px;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}

.b2c_right_blok {
  min-width: 50%;
  width: 50%;
  background: white;
  height: 100%;
  box-sizing: border-box !important;
  padding: 23px 18px 52px 32px;
}

.b2c_title {
  font-size: 42px;
  color: #104366;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  width: 250px;
  position: absolute;
  transform: translate(192px, -142px);
}

.b2c_subtitle {
  font-size: 50px;
  position: absolute;
  color: #104366;
  width: 250px;
  transform: translate(195px, -45px);
  font-family: 'Bree Serif', serif;
}

.b2c_text {
  font-size: 16px;
  position: absolute;
  width: 240px;
  color: #104366;
  transform: translate(189px, 61px);
  font-family: 'Bree Serif', serif;
}

.b2c_button {
  box-sizing: border-box !important;
  width: 316px;
  transform: translate(174px, 189px);
  position: absolute;
  height: 96px;
}

.b2c_button a {
  background: #104366;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Bree Serif', serif;
  text-decoration: none;
}

.b2c_button a:hover {
  color: #fff;
  text-decoration: none;
}

.b2c_limited {
  position: absolute;
  left: 41%;
  top: 20px;
  background: #f88771;
  color: #fff;
  border-radius: 50%;
  text-transform: uppercase;
  width: 114px;
  height: 114px;
  text-align: center;
  font-family: 'Bree Serif', serif;
  box-sizing: border-box !important;
  line-height: 20px;
}

.b2c_close {
  position: absolute;
  right: 18px;
  top: -3px;
  font-size: 68px;
  font-weight: 300;
  color: #104366;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
}

.b2c_close_new {
  position: absolute;
  height: 40px;
  width: 40px;
  transform: translate(635px, -515px);
}

.b2c_close_inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  font-weight: 300;
  color: #104366;
  cursor: pointer;
}
