body{
  margin: 0;
}
p, span{
  margin: 0;
}
/******code below can be used on other popup templates******/
#PopupOverlay{
  position: fixed;
  width: 100%;
  height: 100%;
}
.popupBody {
  max-width: 700px;
  width: 100%;
  max-height: 503px;
  position: fixed;
  left: 0;
  top: 0;
  float: none;
  margin: auto;
  right: 0;
  bottom: 0;
  font-size: 100%;
}
.flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexAround{
  display: flex;
  justify-content: space-around;
}
.productImage{
  max-width: 234px;
  width: 100%;
}
.logoImg{
  width: 100%;
  max-width: 100px;
  margin-left: 10px;
}
.logoText{
  font-size: 0.649375em;
}
/******code above can be used on other popup templates******/
