.b2c_global {
  min-width: 700px;
  width: 700px;
  min-height: 502px;
  height: 502px;
}
.b2c_global_inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #ffffff;
}
.b2c_left_blok {
  height: 337px;
  width: 100%;
  box-sizing: border-box !important;
}
.b2c_left_blok img {
  margin-top: -18px;
  margin-left: -18px;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}
.b2c_right_blok {
  width: 100%;
  height: 100%;
  box-sizing: border-box !important;
}
.b2c_title {
  font-size: 110px;
  color: #fefefe;
  font-weight: bold;
  letter-spacing: 11px;
  font-family: 'Poppins', sans-serif;
  position: absolute;
  transform: translate(135px, 70px);
  text-transform: uppercase;
  width: 430px;
}
.b2c_text {
  font-size: 16px;
  position: absolute;
  text-transform: uppercase;
  width: 430px;
  color: #5a0c0c;
  transform: translate(145px, 206px);
  font-family: 'Poppins', sans-serif;
  text-align: left;
  z-index: 1604;
  letter-spacing: 16px;
}
.b2c_text_small {
  font-size: 9px;
  position: absolute;
  width: 465px;
  transform: translate(130px, 445px);
  font-family: 'Poppins', sans-serif;
  text-align: left;
  z-index: 1604;
}
.sub_form{
  position: absolute;
  transform: translate(100px, 370px);
  height: 66px;
  width: 277px;
  display: block;
  z-index: 1604;
}
.sub_form input{
  border: 1px solid #393a3a;
  font-size: 14px;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  background: rgb(255, 255, 255);
  padding-left: 10px;
  padding-right: 33px;
  box-sizing: border-box;
}
.b2c_button {
  box-sizing: border-box !important;
  width: 204px;
  transform: translate(376px, 370px);
  position: absolute;
  height: 102px;
}
.b2c_button a {
  background: #393a3a;
  width: 100%;
  height: 100%;
  font-size: 13px;
  color: #eee5e1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  transform: translate(0px, 0px);
}
.b2c_close {
  position: absolute;
  transform: translate(615px, 0px);
  font-family: 'Poppins', sans-serif;
  font-size: 15.5px;
  font-weight: 600;
  color: #393a3a;
  height: 40px;
  cursor: pointer;
  text-decoration: underline;
  text-transform: lowercase;
  letter-spacing: 1px;
  line-height: 22.5px;
}
.b2c_formInput:focus{
  border-bottom: 1px solid !important;
}
.editor_subscribe_form{
  width: 32px;
  height: 32px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.thank_you_part{
  position: relative;
  cursor: pointer !important;
  transform: translate(-2px, 0px);
  height: 66px;
  width: 35px;
}
.thank_you_img {
  position: relative;
  z-index: 20;
  cursor: pointer !important;
}
.thank_you_text_template {
  width: 150px;
  display: none;
  background-color: #3CAE73;
  color: #fff;
  padding: 7px 15px;
  border-radius: 25px;
  position: absolute;
  top: 0px;
  left: 2px;
  text-align: right;
}
.thank_you_part_back {
  position: relative;
  cursor: pointer !important;
  transform: translate(0px, -50px);
}
.thank_you {
  transform: translate(210px, 385px);
  position: absolute;
  width: 233px;
  height: 40px;
  cursor: pointer;
   display: none;
  z-index: 1602;
}
.editor_thankYou_form {
  transform: translate(0px,0px);
  width: 33px;
  position: absolute;
  top: 60px;
  right: -350px;
}
button#b2c_submitContact {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px 2px;
    font-size: 16px;
    background: rgb(57, 58, 58);
    color: rgb(238, 229, 225);
    padding: 0px;
}
#b2c_submitContactInput::-webkit-input-placeholder {
  color: rgba(1, 1, 1, 0.48);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
#b2c_submitContactInput::-moz-placeholder {
  color: rgba(1, 1, 1, 0.48);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
#b2c_submitContactInput:-ms-input-placeholder {
  color: rgba(1, 1, 1, 0.48);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
#b2c_submitContactInput:-moz-placeholder {
  color: rgba(1, 1, 1, 0.48);
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
