.b2c_global {
  min-width: 700px;
  width: 700px;
  min-height: 502px;
  height: 502px;
  background: #fff;
}

.b2c_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  position: relative;
}

.b2c_left_blok {
  width: 50%;
  height: 100%;
  box-sizing: border-box !important;
}

.b2c_img {
  box-sizing: border-box !important;
  width: 50%;
  height: 100%;
  position: absolute;
  transform: translate(-175px, 0px);
}

.b2c_img img {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%;
}

.b2c_right_blok {
  background: #dcdcdc;
  width: 50%;
  height: 100%;
  box-sizing: border-box !important;
}

.b2c_title {
  font-size: 32px;
  font-family: 'Raleway', sans-serif;
  color: #0e0e0e;
  font-weight: 300;
  width: 250px;
  position: absolute;
  transform: translate(160px, 51px);
}

.b2c_subtitle {
  font-family: 'Raleway', sans-serif;
  font-size: 35px;
  color: #000;
  font-weight: bold;
  width: 250px;
  position: absolute;
  transform: translate(160px, 100px);
}

.b2c_line {
  min-height: 37px;
  min-width: 40px;
  height: 38px;
  width: 110px;
  position: absolute;
  transform: translate(50px, 176px);
  display: inline-block;
  box-sizing: border-box !important;
}

.b2c_line_inner {
  background: #000;
  width: 100%;
  height: 100%;
}

.b2c_subtitle_big {
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-size: 60px;
  font-weight: bold;
  width: 270px;
  position: absolute;
  transform: translate(170px, 201px);
}

.b2c_text {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  position: absolute;
  width: 270px;
  transform: translate(170px, 285px);
}

.b2c_button {
  width: 300px;
  height: 60px;
  position: absolute;
  transform: translate(175px, 390px);
}

.b2c_button_inner:hover {
  color: #000;
  text-decoration: none;
}

.b2c_button_inner {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 18px;
  border: 1px solid #686868;
  color: #000;
  text-decoration: none;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.b2c_close {
  position: absolute;
  font-size: 60px;
  font-weight: 300;
  color: #5b5b5b;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  transform: translate(330px, 0px);
}

.b2c_close_new {
  position: absolute;
  height: 40px;
  width: 40px;
  transform: translate(327px, -12px);
}

.b2c_close_inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  font-weight: 300;
  color: #5b5b5b;
  cursor: pointer;
}
