.b2c_global {
  min-width: 700px;
  min-height: 502px;
  width: 700px;
  height: 502px;
  background: #00D7BE;
}

.b2c_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  color: #000;
}

.b2c_left_blok {
  width: 400px;
  height: 420px;
  transform: translate(-57px, 100px);
  box-sizing: border-box !important;
}

.b2c_left_blok img {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%;
}

.b2c_title {
  position: absolute;
  line-height: 60px;
  width: 370px;
  font-size: 28px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  transform: translate(145px, 32px);
  color: #ffffff;
}

.b2c_line {
  min-height: 37px;
  min-width: 325px;
  height: 37px;
  width: 40px;
  transform: translate(155px, 105px);
  position: absolute;
  display: inline-block;
  box-sizing: border-box !important;
}

.b2c_line_inner {
  background: #000;
  width: 100%;
  height: 100%;
}

.b2c_img_1, .b2c_img_2  {
  transform: translate(0px, 225px);
  width: 75px;
  height: 75px;
}

.b2c_img_1 img, .b2c_img_2 img {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%;
}

.b2c_subtitle {
  font-size: 22px;
  position: absolute;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  width: 250px;
  transform: translate(205px, 130px);
  color: #004467;
}

.b2c_button {
  width: 286px;
  height: 96px;
  position: absolute;
  transform: translate(180px, 360px);
  box-sizing: border-box !important;
}

.b2c_button a {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 2px 10px 2px rgba(0,0,0,.1);
  color: #ffffff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #004467;
}



.b2c_close {
  position: absolute;
  transform: translate(660px, -502px);
  font-size: 24px;
  font-weight: 300;
  color: #fff;
  background: #004467;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}

.b2c_close_new {
  position: absolute;
  width: 40px;
  height: 40px;
  transform: translate(642px, -520px);
}

.b2c_close_inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 300;
  color: #fff;
  background: #636465;
  cursor: pointer;
}
