.b2c_global {
  min-width: 700px;
  min-height: 450px;
  width: 700px;
  height: 450px;
  background: #8FA49F;
}

.b2c_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  position: relative;
}

.b2c_left_blok {
  width: 400px;
  height: 380px;
  position: absolute;
  box-sizing: border-box !important;
  transform: translate(-140px, 20px);
}

.b2c_left_blok_inner {
  border: 4px solid #fff;
  width: 100%;
  height: 100%;
}

.b2c_img {
  transform: translate(-150px, 47px);
  width: 260px;
  height: 260px;
}

.b2c_img img {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%;
}

.b2c_right_blok {
  width: 380px;
  position: absolute;
  height: 360px;
  background: #fff;
  box-sizing: border-box !important;
  transform: translate(130px, 66px);
  box-shadow: 1px 1px 8px 2px rgba(0,0,0,.1);
}

.b2c_title {
  font-size: 45px;
  color: #000;
  position: absolute;
  font-family: 'Raleway', sans-serif;
  transform: translate(127px, 75px);
  width: 280px;
}

.b2c_subtitle {
  position: absolute;
  transform: translate(124px, 142px);
}

.b2c_subtitle img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}

.b2c_text {
  position: absolute;
  text-align: center;
  width: 310px;
  transform: translate(131px, 225px);
  font-family: 'Raleway', sans-serif;

}

.b2c_button {
  width: 336px;
  box-sizing: border-box !important;
  height: 84px;
  position: absolute;
  transform: translate(134px, 340px);
}

.b2c_button a {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  outline: 0;
  color: #fff;
  text-decoration: none;
  line-height: 14px;
  font-size: 18px;
  background: #dd783e;
  border-radius: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.b2c_button a:hover {
  color: #fff;
  text-decoration: none;
}

.b2c_close {
  position: absolute;
  cursor: pointer;
  transform: translate(323px, 6px);
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  font-size: 40px;
  font-weight: 600;
  color: #fff;
}

.b2c_close_new {
  position: absolute;  
  width: 40px;
  height: 40px;
  transform: translate(318px, -10px);
}
.b2c_close_inner {
  width: 100%;
  height: 100%;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: 300;
  color: #fff;
  cursor: pointer;
}
