.b2c_global {
  min-width: 320px;
  min-height: 145px;
  width: 320px;
  height: 145px;
  box-sizing: content-box;
}

.b2c_blok {
  width: 50%;
  height: 100%;
  display: inline-block;
}

.b2c_blok_inner {
  margin-top: -18px;
  margin-left: -18px;
  width: 100%;
  height: 100%;
}

.b2c_left_blok {
  float: left;
  background: #209dd7;
}

.b2c_right_blok {
  background: #354149;
}

.b2c_text {
  font-family: 'Open Sans';
  color: rgb(255, 255, 255);
}

.b2c_text_left {
  text-transform: uppercase;
  line-height: 1.283;
  text-align: left;
  font-size: 13.722px;
  transform: translate(-3px, -153px);
  width: 128px;
  min-height: 50px;
}

.b2c_text_right {
  font-size: 11.74px;
  font-weight: bold;
  line-height: 1.331;
  text-align: left;
  transform: translate(159px, -305px);
  width: 123px;
  min-height: 44px;
}

.b2c_img {
  width: 135px;
  text-align: center;
  transform: translate(-1px, -157px);
  box-sizing: border-box !important;
  max-width: 100%;
  height: 65px;
  overflow: hidden;
}

.b2c_img img {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}

.b2c_button {
  box-sizing: border-box !important;
  width: 150px;
  height: 72px;
  margin: 0 auto;
  transform: translate(85px, -310px);
  font-size: 13px;
  font-weight: 600;
  font-family: 'Open Sans';
  display: block;
}

.b2c_button a {
  width: 100%;
  height: 100%;
  background: #19b394;
  border-radius:40px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.b2c_button a:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.b2c_close {
  float: right;
  padding: 6px 8px;
  cursor: pointer;
  z-index: 100001;
  position: absolute;
  right: 0;
  top: 0;
  height: 10px;
  line-height: 10px;
}

.b2c_close_new {
  position: absolute;
  transform: translate(283px, -464px);
  width: 10px;
  height: 10px;
}

.b2c_close_inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 22px;
  color: #fff;
}
