.b2c_global {
  min-width: 700px;
  min-height: 502px;
  width: 700px;
  height: 502px;
  color: #fff;
}

.b2c_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  text-align: left;
}

.b2c_left_blok {
  width: 50%;
  height: 100%;
  box-sizing: border-box !important;
  background: #b99458;
  color: #fff;
  float: left;
  transform: translate(-175px, 0px);
}

.b2c_left_blok_inner {
  border: 1px solid #fff;
  width: 100%;
  height: 100%;
}

.b2c_title {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  font-size: 52px;
  line-height: 60px;
  font-weight: bold;
  width: 250px;
  transform: translate(-170px, -105px);
}

.b2c_text {
  position: absolute;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 25px;
  font-weight: 300;
  width: 250px;
  transform: translate(-170px, 30px);
}

.b2c_button {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 18px;
  width: 250px;
  outline: 0;
  height: 60px;
  position: absolute;
  transform: translate(-176px, 156px);
}

.b2c_button_inner {
  border: 2px solid #fff;
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.b2c_button_inner:hover {
  color: #fff;
  text-decoration: none;
}

.b2c_img {
  box-sizing: border-box !important;
  width: 44%;
  height: 90%;
  position: absolute;
  transform: translate(175px, 0px);
}

.b2c_img img {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%;
}

.b2c_discount {
  position: absolute;
  background: rgba(0,0,0,.95);
  opacity: 0.9;
  width: 160px;
  height: 125px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  z-index: 50;
}

.b2c_close {
  position: absolute;
  font-size: 12px;
  font-weight: 300;
  color: #b99458;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  transform: translate(625px, -502px);
}
