.b2c_global {
  min-width: 700px;
  width: 700px;
  min-height: 502px;
  height: 502px;
  background: url(https://backtocart.co/wp-content/uploads/appContent/PopupTemplates/newImages/pppp.jpg);
  background-size: 100% 100%;
}

.b2c_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  position: relative;
  color: #fff;
}

.b2c_title {
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  max-width: 95%;
  position: absolute;
  transform: translate(0, 120px);
}

.b2c_line {
  min-height: 37px;
  min-width: 40px;
  height: 38px;
  width: 65px;
  position: absolute;
  transform: translate(-301px, 177px);
  display: inline-block;
  box-sizing: border-box !important;
}

.b2c_line_inner {
  background: #fff;
  width: 100%;
  height: 100%;
}

.b2c_subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 64px;
  width: 280px;
  transform: translate(-165px, 205px);
  position: absolute;
}

.b2c_text {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  letter-spacing: 2px;
  width: 280px;
  position: absolute;
  transform: translate(-165px, 320px);
}

.b2c_button {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 18px;
  width: 300px;
  height: 62px;
  position: absolute;
  transform: translate(-172px, 396px);
}

.b2c_button_inner:hover {
  text-decoration: none;
  color: #fff;
}

.b2c_button_inner {
  border: 1px solid #fff;
  text-decoration: none;
  color: #fff;
  text-align: center;
  padding: 5px;
  width: 100%;
  height: 100%;
  box-sizing: border-box !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.b2c_img {
  transform: translate(164px, 236px);
  position: absolute;
  width: 332px;
  height: 200px;
}

.b2c_img img {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%;
}

.b2c_close {
  position: absolute;
  color: #3B93C6;
  font-weight: 300;
  height: 40px;
  line-height: 40px;
  font-size: 60px;
  cursor: pointer;
  transform: translate(653px, -500px);
}

.b2c_close_new {
  position: absolute;
  height: 40px;
  width: 40px;
  transform: translate(635px, -512px);
}

.b2c_close_inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  font-weight: 300;
  color: #3B93C6;
  cursor: pointer;
}
