.b2c_main_div * {
  outline: none;
  box-sizing: content-box;
}

.b2c_formInput:focus {
  border-bottom: none;
  box-shadow: none !important;
}

.b2c_main_div p {margin: 0;}

.b2c_main_div {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12);
  z-index: 1050;
}

.b2c_hover {
  border: 18px solid transparent;
}

.b2cHaykOverlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999999;
  overflow: hidden;
  display: none;
  text-align: center;
}

.b2c_global {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  float: none;
  margin: auto;
}

.b2c_img_tag_sizes {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%;
}

.b2c_cta_button {
  box-sizing: border-box !important;
}

@media only screen and (max-width: 768px) {
  .b2cHaykOverlay {
    display: none !important;
  }
}
