.b2c_global {
  min-width: 700px;
  min-height: 450px;
  width: 700px;
  height: 450px;
  text-align: center;
  background: #E3E5D9;
}

.b2c_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  position: relative;
}

.b2c_title {
  font-size: 2.875em;
  font-family: 'Raleway', sans-serif;
  transform: translate(0px, 26px);
  color: #B9262A;
}

.b2c_subtitle {
  font-size: 3.125em;
  font-family: 'Robot', sans-serif;
  font-weight: bold;
  color: #D37F7F;
  transform: translate(0px, -2px);
}

.b2c_protitle {
  font-size: 1.125em;
  font-family: 'Raleway', sans-serif;
  width: 200px;
  position: absolute;
}

.b2c_protitle_left {
  transform: translate(47px, 0);
}
.b2c_protitle_right {
  transform: translate(410px, 0);
}

.b2c_img {
  width: 300px;
  height: 200px;
  box-sizing: border-box !important;
  position: absolute;
}

.b2c_img_left {
  transform: translate(17px, 40px);
}

.b2c_img_right {
  transform: translate(380px, 40px);
}

.b2c_img img {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box !important;

}

.b2c_new {
  width: 47px;
  height: 58px;
  position: absolute;
  transform: translate(12px, 35px);
}

.b2c_new img {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%;
}

.b2c_button {
  position: absolute;
  width: 90px;
  height: 40px;
}

.b2c_button a {
  width: 100%;
  height: 100%;
  font-size: 0.875em;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  background: #D37F7F;
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.b2c_button a:hover {
  color: #fff;
}

.b2c_button_left {
  transform: translate(103px, 182px);
}
.b2c_button_right {
  transform: translate(468px, 182px);
}

.b2c_close {
  position: absolute;
  transform: translate(656px, -176px);
  cursor: pointer;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  background: #D37F7F;
  border-radius: 50%;
  font-size: 50px;
  color: #fff;
}

.b2c_close_new {
  position: absolute;
  transform: translate(637px, -197px);
  width: 34px;
  height: 34px;
}

.b2c_close_inner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #b98d36;
  border-radius: 50%;
  font-size: 30px;
  color: #fff;
}
