.b2c_realPopup div,.b2c_realPopup  span,.b2c_realPopup  applet,.b2c_realPopup object,.b2c_realPopup iframe,.b2c_realPopup h1,.b2c_realPopup h2,
 .b2c_realPopuph3,.b2c_realPopup h4,.b2c_realPopup h5,.b2c_realPopup h6,.b2c_realPopup p,.b2c_realPopup blockquote,.b2c_realPopup pre,.b2c_realPopup a,
 .b2c_realPopup abbr, .b2c_realPopupacronym,.b2c_realPopup address,.b2c_realPopup big,.b2c_realPopup cite,.b2c_realPopup code,.b2c_realPopup del,
 .b2c_realPopup dfn,.b2c_realPopup em,.b2c_realPopup img,.b2c_realPopup ins,.b2c_realPopup kbd,.b2c_realPopup q,.b2c_realPopup s,.b2c_realPopup samp,
  .b2c_realPopupsmall, strike,.b2c_realPopup strong,.b2c_realPopup sub,.b2c_realPopup sup,.b2c_realPopuptt,.b2c_realPopup var,.b2c_realPopup b,.b2c_realPopup u,
  .b2c_realPopup i,.b2c_realPopup center,.b2c_realPopup dl,.b2c_realPopup dt,.b2c_realPopup dd,.b2c_realPopup ol,.b2c_realPopup ul,.b2c_realPopup li,.b2c_realPopup fieldset,
  .b2c_realPopup form,.b2c_realPopup label,.b2c_realPopup legend,.b2c_realPopup table,.b2c_realPopup caption,.b2c_realPopup tbody,.b2c_realPopup tfoot,.b2c_realPopup thead,
  .b2c_realPopup tr,.b2c_realPopup th,.b2c_realPopup td,.b2c_realPopuparticle,.b2c_realPopup aside,.b2c_realPopup canvas,.b2c_realPopup details,.b2c_realPopup embed,
  .b2c_realPopup figure,.b2c_realPopup figcaption,.b2c_realPopup footer,.b2c_realPopup header,.b2c_realPopup hgroup,.b2c_realPopup menu,.b2c_realPopup nav,.b2c_realPopup output, 
  .b2c_realPopup ruby,.b2c_realPopup section,.b2c_realPopup summary,.b2c_realPopup time,.b2c_realPopup mark,.b2c_realPopup audio,.b2c_realPopup video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

.b2c_realPopup article,.b2c_realPopup aside,.b2c_realPopup details,.b2c_realPopup figcaption,.b2c_realPopup figure,
.b2c_realPopup footer,.b2c_realPopup header,.b2c_realPopup hgroup,.b2c_realPopup menu,.b2c_realPopup nav,.b2c_realPopup section {
  display: block; }


ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

.b2c_realPopup table {
  border-collapse: collapse;
  border-spacing: 0; }

.b2c_realPopup a{
  text-decoration: none;
}

.b2c_realPopup img{
  max-width: 100%;
  vertical-align: bottom;
}
