.sideIcon{
    max-width: 876px;
    width: 100%;
    max-height: 251px;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    float: none;
    margin: auto;
    border-radius: 20px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    display: none;
    z-index: 999999;
}
.sideIconContent{
  border-radius: 10px;
    background: white;
    border: 10px solid #727c8c;
    padding: 20px 0;
    position: relative;
}
.sideIconText{
  color: #044c8c;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  line-height: 34px;
  max-width: 440px;
  width: 100%;
  margin: auto;
  padding-top: 30px;
}
.sideIconLogo{
      padding-top: 25px;
}
.sideIconArrow {
    position: absolute;
    left: 49%;
    bottom: -100px;
}
.sideIconChatMassage{
  position: fixed;
  right: 15px;
  bottom: 90px;
  background: #a7bf42;
  z-index: 999999;
  cursor: pointer;
  display: none;
  width: 60px;
  height: 60px;
  border-radius: 6px;
  box-shadow: 0 0 6px 2px rgba(0,0,0,.3);
  justify-content: center;
  align-items: center;
}
.sideIcon + div > img,
.sideIconChatMassage img {
  height: 35px !important;
  width: 35px !important;
  max-width: 100% !important;
  position: absolute;
  right: 7px;
  top: 9px;
}

.notification_count {
  position: absolute;
  right: 5px;
  top: 5px;
  background: red;
  border: 2px solid #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: #fff;
  font-size: 18px;
  text-align: center;
  line-height: 20px;
}
